<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/navbar.css"/>
        <link rel="stylesheet" href="../css/standard.css"/>
        <link rel="stylesheet" href="../css/contact.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">    
        <title>Olimpiadas Paris 2024</title>
    </head>
    <body>
        <!---Navbar--->
        <div class="Header-section">  
            <nav class="navbar">
                <div class="menu-icon">
                    <span><i class="fa-solid fa-bars"></i></span>
                </div>
                <div class="logo">
                    <a href="../../index.html"><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"></a> 
                </div>
                <div class="nav-items">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Deportes</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Reportes</a></li>
                    <li><a href="#">Perfil</a></li>
                </div>
                <div class="search-icon"><span><i class="fa-solid fa-magnifying-glass"></i></span></div>
                <div class="cancel-icon">
                    <span><i class="fa-solid fa-xmark"></i></span>
                </div>
                <form action="#">
                    <input type="search" class="search-data" placeholder="Buscar" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>
                <input type="button" value="">
                <a class="btn-profile" href="view/funcionalidad-perfil/perfil.html">Acceder</a>
                <script src="../js/navbar.js"></script>
            </nav>
        </div>
        <!---contact us--->
        <section class="contact" id="contact">
            <div class="contact-section">
                <div class="contact-text">
                    <h1>Contactanos</h1>
                    <h2>¿Problemas con tu cuenta?</h2>
                    <p>La mejor manera de resolverlo es contactarnos rápidamente</p>
                    <div class="contact-list">
                        <li><a href="#">Costa del Este - Panam&aacute; - Panam&aacute;</a></li>
                        <li><a href="#">paris2024pty@gmail.com</a></li>
                    </div>
                    <div class="contact-icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="contact-form">
                    <form action="">
                        <input type="" placeholder="Ingresa tu nombre" required>
                        <input type="email" placeholder="Ingresa tu correo" required>
                        <input type="" placeholder="Coloca el asunto" required>
                        <textarea name="" id="" cols="40" rows="10" placeholder="Ingresa tu mensaje" required></textarea>
                        <input type="submit" value="Enviar" class="send">
                    </form>
                </div>
            </div>
        </section>
  </body>
</html>
