<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90ecc93fa3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Registro de Usuario</title>
</head>

    <body>
        <!--navbar-->
        <div class="container-form sign-up">
            <nav class="navbar">
                <div class="menu-icon">
                <span><i class="fa-solid fa-bars"></i></span>
                </div>
                <div class="logo">
                <a href="../../index.html"><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"></a> 
                </div>
                <div class="nav-items">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="#">Deportes</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Reportes</a></li>
                </div>
                <div class="search-icon">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="cancel-icon">
                <span><i class="fa-solid fa-xmark"></i></span>
                </div>
                <form action="#">
                <input type="search" class="search-data" placeholder="Buscar" required>
                <button type="submit" class="fas fa-search"></button>
                </form>
                <script src="../js/navbar.js"></script>
            </nav>
            <!--formulario-->
            <div class="seccion-formulario">
                <form class="formulario">
                    <h2 class="create-account">Crear una cuenta</h2>
                    <div class="iconos">
                        <div class="font-awesome-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="font-awesome-icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="font-awesome-icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                    <p class="cuenta-gratis">crear cuenta gratis</p>
                    <input type="text" placeholder="Nombre">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Contraseña">
                    <input type="button" value="Registrarse">
                </form>
            </div>
            <p class="cuenta-gratis">crear cuenta gratis</p>
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <input type="button" value="Registrarse">
        </form>
    </div>
</body>
</html>