<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/standard.css" />
  <link rel="stylesheet" href="../css/reportes.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
  <script src="../../view/js/chart.js"></script>
  <title>Reportes</title>
</head>
<body>

<header class="Header-section">
  <nav class="navbar">
    <div class="menu-icon">
      <span><i class="fa-solid fa-bars"></i></span>
    </div>
    <div class="logo">
      <a href="../../index.html"
      ><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"
      /></a>
    </div>
    <div class="nav-items">
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="../html/deportes.html">Deportes</a></li>
      <li><a href="../html/noticias.html">Noticias</a></li>
      <li><a href="../html/acerca.html">Acerca de</a></li>
      <li><a href="../html/contact.html">Contacto</a></li>
      <li><a href="../html/reportes.html">Reportes</a></li>
      <li><a href="../html/perfil.html">Perfil</a></li>
    </div>
    <div class="search-icon">
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <div class="cancel-icon">
      <span><i class="fa-solid fa-xmark"></i></span>
    </div>
    <form action="#">
      <input
              type="search"
              class="search-data"
              placeholder="Buscar"
              required
      />
      <button type="submit" class="fas fa-search"></button>
    </form>
    <input type="button" value="" />
    <script src="../../view/js/navbar.js"></script>
  </nav>
</header>

<main class="main-div">
  <div class="box0">
    <p>Reportes Generados</p>
  </div>
  <div class="box1" style="background-color: #e2e2e2;">
    <div style="position: relative; height: 55vh; width:50vw;">
      <canvas id="graficaLineas"></canvas>
    </div>
  </div>
  <div class="box2" style="background-color: #e2e2e2;">
    <div style="position: relative; height: 55vh; width:30vw">
      <canvas id="graficaBarra"></canvas>
    </div>
  </div>
  <div class="box3">
    <section>
      <center>
        <h2>Registros de Usuarios</h2>
      </center>
      <table>
        <thead>
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Tipo</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>1</td>
          <td class="txt-oflo">Marcos</td>
          <td class="txt-oflo">Candanedo</td>
          <td class="txt-oflo">Roca@</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="txt-oflo">Irving</td>
          <td class="txt-oflo">Arosemena</td>
          <td class="txt-oflo">Roca@</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="txt-oflo">Marcos</td>
          <td class="txt-oflo">Ñurinda</td>
          <td class="txt-oflo">Roca@</td>
        </tr>
        </tbody>
      </table>
      <br>
    </section>
  </div>
</main>





</body>
<script src="../../view/js/bar.js"></script>
<script src="../../view/js/wave.js"></script>
</html>