.main-div{
    display: flex;
    width: 100%;
    margin-top: 40px;
}

body{
    height: 100%;
}

.left-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    height: auto;
    margin-left:  5%;
    margin-right: 1.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #d9d9d9;
    border-radius: 10px;
}

#nombrecomp{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}

#usuario{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}

.foto-usuario{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn-charge{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.info-photo{
    background-color: #efefef;
    padding: 45px;
    margin: 15px;
}

#union{
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 30px 0;
}

.right-div{
    display: flex;
    flex-direction: column;
    width: 62.5%;
    height: auto;
    margin-left:  2.5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}


.up{
    width: 100%;
    height: auto;
    background-color: #f8fafb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
}


.options{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 3px;
    font-weight: bold;
    cursor: pointer;
}

.options:hover{
    text-decoration: underline 3px #d7c378;
}


.down{
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grilla{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.e1, .e2, .e3, .e4, .e5, .e6, .e7, .e8{
    padding: 13px;
    margin: 5px;
    border-radius: 10px;
}

label{
    color: #413f3f;
}

.e5{
    grid-column-start: 1;
    grid-column-end: 3;
}

.e8{
    grid-column-start: 1;
    grid-column-end: 3;
}

.input-form{
    background-color: #efefef;
    border: solid 1px;
    border-color: #acafb8;
    border-radius: 6px;
    margin-top: 5px;
    padding: 6px;
    font-size: smaller;
}

.btn-actualizar{
    background-color: #129c49;
    color: white;
    padding: 8px;
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}