<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Futbol</title>
    <link rel="stylesheet" href="../css/navbar.css"/>
    <link rel="stylesheet" href="../css/standard.css"/>
    <link rel="stylesheet" href="../css/busqueda.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body> 
        <nav class="navbar">
          <div class="menu-icon">
             <span><i class="fa-solid fa-bars"></i></span>
          </div>
          <div class="logo">
            <a href="../../../index.html"><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"></a>
          </div>
          <div class="nav-items">
             <li><a href="../../../index.html">Inicio</a></li>
             <li><a href="deportes.html">Deportes</a></li>
             <li><a href="noticias.html">Noticias</a></li>
             <li><a href="acerca.html">Acerca de</a></li>
             <li><a href="contact.html">Contacto</a></li>
             <li><a href="reportes.html">Reportes</a></li>
             <li><a href="perfil.html">Perfil</a></li>
          </div>
          <div class="search-icon">           <span><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
          <div class="cancel-icon">
             <span><i class="fa-solid fa-xmark"></i></span>
          </div>
          <form action="busqueda.html">
             <input type="search" class="search-data" placeholder="Buscar" required>
             <button type="submit" class="fas fa-search"></button>
          </form>
          <input type="button" value="">
          <a class="btn-profile" href="..">Acceder</a>
          <script src="./../js/navbar.js"></script>
        </nav>
        <br><br>
        <!--results section-->
        <section class="results-section" id="results-section">
            <div class="load-more-section">
              <div class="group-load-more-section-titlebar">
                <div class="title">
                  <a class="group-load-more--title-link" href="">
                    <h2>Resultados de busqueda para: Futbol<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></h2>
                  </a>
                </div>
                <div class="group-load-more-button">
                  <div class="load-more">
                    <a id="load-more-btn" class="btn">Ver m&aacute;s</a>
                  </div>
                </div>
              </div>
              <div class="load-more-product-container">
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/results-1.webp" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/video/goles-en-los-juegos-olimpicos-resumen-de-los-torneos-de-futbol-femenino" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Goles en los Juegos Olímpicos: resumen de los torneos de fútbol femenino</h2>
                    <p class="results-description">Con los Juegos Olímpicos de 2021 a la vuelta de la esquina, Tokio 2020 echa un vistazo a algunos de los mejores goles...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/results-2.webp" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/noticias/futbol-en-los-juegos-suramericanos-asuncion-2022-dias-horarios-y-como-verlo" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Fútbol en los Juegos Suramericanos Asunción 2022: días, horarios y cómo verlo</h2>
                    <p class="results-description">Los XII Juegos Suramericanos Asunción 2022 tendrán lugar en Paraguay del 1 al 15 de octubre...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-3.webp" class="results-thumb" alt="">
                    <a href="" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Rafaelle: “Brasil tiene muchas posibilidades de ganar medalla en París”</h2>
                    <p class="results-description">La Seleçao volvió a conquistar la Copa América Femenina, esta vez ante Colombia, y mira ahora hacia París 2024 y el Mundial...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-4.jfif" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/noticias/futbol-en-juegos-olimpicos-paris-2024-el-calendario-y-las-sedes" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Fútbol en los Juegos Olímpicos de París 2024: el calendario y las sedes</h2>
                    <p class="results-description">El fútbol arrancará en los Juegos Olímpicos de París 2024 el 24 de julio, dos días antes de la Ceremonia de Apertura y...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-5.webp" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/noticias/lo-que-aprendimos-resumen-de-futbol-masculino-en-los-juegos-olimpicos-de-tokio" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Lo que aprendimos: resumen de fútbol masculino en los Juegos Olímpicos de Tokio 2020</h2>
                    <p class="results-description">Con Dani Alves robando titulares y Malcom como un héroe inesperado, echa un vistazo a los momentos más memorables el futbol...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-6.webp" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/noticias/lo-que-aprendimos-resumen-de-futbol-femenino-de-los-juegos-olimpicos-de-tokio-20" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Lo que aprendimos: resumen de fútbol femenino de los Juegos Olímpicos de Tokio 2020</h2>
                    <p class="results-description">El fútbol femenino nos trajo algunos momentos inolvidables en los Juegos Olímpicos de Tokio 2020. Canadá se robó los titulares con un oro histórico...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-8.webp" class="results-thumb" alt="">
                    <a href="" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Debinha, la nueva líder del Brasil campeón de América</h2>
                    <p class="results-description">Brasil conquistó su octava Copa América Femenina gracias a un gol de penal de Debinha en el minuto 39...</p>
                  </div>
                </div>
                <div class="results-card">
                  <div class="results-image">
                    <img src="../img/news-7.webp" class="results-thumb" alt="">
                    <a href="https://olympics.com/es/noticias/objetivo-paris-2024-el-sistema-de-clasificacion-del-futbol-explicado" target="_blank">
                      <button class="card-btn">ver mas</button>
                    </a>
                  </div>
                  <div class="results-info">
                    <h2 class="results-title">Cómo clasificarse para París 2024 en fútbol. El sistema de clasificación olímpica, explicado</h2>
                    <p class="results-description">París 2024 supone el regreso de este deporte a la ciudad donde el fútbol debutó en los Juegos Olímpicos. La competición comienza el 24 de julio...</p>
                  </div>
                </div>
              </div>
            </div>
            <script src="../js/load-more-script-search.js"></script>
          </section>
</body>
</html>