<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1"/>
    <link rel="stylesheet" href="../css/navbar.css"/>
    <link rel="stylesheet" href="../css/standard.css"/>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/searchResultsCards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Deportes</title>
  </head>
  <body onload="getValueInput()">
    <div class="Header-section">  
      <nav class="navbar">
        <div class="menu-icon">
           <span><i class="fa-solid fa-bars"></i></span>
        </div>
        <div class="logo">
          <a href="../../../externo.html"><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"></a>
        </div>
        <div class="nav-items">
           <li><a href="../../../externo.html">Inicio</a></li>
           <li><a href="deportes.html">Deportes</a></li>
           <li><a href="noticias.html">Noticias</a></li>
           <li><a href="acerca.html">Acerca de</a></li>
           <li><a href="contact.html">Contacto</a></li>
        </div>
        <div class="search-icon">
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="cancel-icon">
           <span><i class="fa-solid fa-xmark"></i></span>
        </div>
        <form action="ResultadoBusqueda.html">
          <input id="txtsearch" type="search" class="search-data" placeholder="Buscar" required>
          <button type="submit" class="fas fa-search" onclick="passvalues()"></button>
        </form>
        <input type="button" value="">
        <a class="btn-profile" href="login.html">Acceder</a>
        <script src="FrontendOlimpicos/view/js/navbar.js"></script>
      </nav>
    </div>
    <!---Search Result--->
    <section class="search-result" id="search-result">
        <div id="searchWrapper">
            <input type="text" name="searchBar" id="searchBar" placeholder="Buscar" />
        </div>
        <br><br>
        <div class="search-result-news">
            <h1 class="result-title">Resultado de Noticias</h1>
            <div id="news-result"><!--Dinamic content--></div>
        </div>
        <br><br>
        <div class="search-result-sports">
            <h1 class="result-title">Resultado de Deportes</h1>
            <div id="sports-result"><!--Dinamic content--></div>
        </div>
    </section>

    <!-- Script Search  -->
    <script type="text/javascript" src="../js/ControllersJS/DesarrolladoresController.js"></script>
    <script src="../js/ControllersJS/BusquedaResultadoController.js"></script>
    <script src="../js/ControllersJS/ControlSession.js"></script>
    </body>
</html>
