<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css"/>
    <link rel="stylesheet" href="../css/deportes.css">
    <link rel="stylesheet" href="../css/standard.css"/>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">    
    <title>Deportes</title>
  </head>
  <body onload="ObtenerDeportes()">
    <div class="Header-section">  
      <nav class="navbar">
        <div class="menu-icon">
           <span><i class="fa-solid fa-bars"></i></span>
        </div>
        <div class="logo">
          <a href="../../../index.html"><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"></a>
        </div>
        <div class="nav-items">
           <li><a href="../../../index.html">Inicio</a></li>
           <li><a href="deportes.html">Deportes</a></li>
           <li><a href="noticias.html">Noticias</a></li>
           <li><a href="acerca.html">Acerca de</a></li>
           <li><a href="contact.html">Contacto</a></li>
           <li><a href="reportes.html">Reportes</a></li>
           <li><a href="perfil.html">Perfil</a></li>
        </div>
        <div class="search-icon">           <span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="cancel-icon">
           <span><i class="fa-solid fa-xmark"></i></span>
        </div>
        <form action="busqueda.html">
           <input type="search" class="search-data" placeholder="Buscar" required>
           <button type="submit" class="fas fa-search"></button>
        </form>
        <input type="button" value="">
        <a class="btn-profile" href="../../../externo.html" onclick="CerrarSesion()">Cerrar Sesion</a>
        <script src="./../js/navbar.js"></script>
      </nav>
      <section id="home" class="home">
        <div class="media-icons">
          <a href="https://www.facebook.com/Paris2024" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/paris2024/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/Paris2024" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <!--Dinamic content--> 
      </section>
    </div>
    <!---Olympic Sports--->
    <section class="olympic-sports" id="olympic-sports">
      <div class="load-more-section">
        <div class="group-load-more-section-titlebar">
          <div class="title">
            <a class="group-load-more--title-link" href="">
              <h2>Deportes Olimpicos<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></h2>
            </a>
          </div>
          <div class="group-load-more-button">
            <div class="load-more">
              <a id="load-more-btn" class="btn">Ver m&aacute;s</a>
            </div>
          </div>
        </div>
        <div id="sports-container" class="load-more-product-container">
          <!--Dinamic content--> 
        </div>
      </div>
      <script src="../js/load-more-script-sports.js"></script>
    </section>

    <!-- Script Deportes -->
    <script type="text/javascript" src="../js/ControllersJS/DeportesController.js"></script>
    <script src="../js/ControllersJS/ControlSession.js"></script>
  </body>
</html>
