<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/standard.css" />
  <link rel="stylesheet" href="../css/reportes.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
  <script src="../../../FrontendOlimpicos/view/js/chart.js"></script>
  <title>Reportes</title>
</head>
<body>
  <header class="Header-section">
    <nav class="navbar">
      <div class="menu-icon">
        <span><i class="fa-solid fa-bars"></i></span>
      </div>
      <div class="logo">
        <a href="../../../index.html"
        ><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"
        /></a>
      </div>
      <div class="nav-items">
        <li><a href="../../../index.html">Inicio</a></li>
        <li><a href="deportes.html">Deportes</a></li>
        <li><a href="noticias.html">Noticias</a></li>
        <li><a href="acerca.html">Acerca de</a></li>
        <li><a href="contact.html">Contacto</a></li>
        <li><a href="../html/reportes.html">Reportes</a></li>
        <li><a href="perfil.html">Perfil</a></li>
      </div>
      <div class="search-icon">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <div class="cancel-icon">
        <span><i class="fa-solid fa-xmark"></i></span>
      </div>
      <form action="busqueda.html">
        <input
                type="search"
                class="search-data"
                placeholder="Buscar"
                required
        />
        <button type="submit" class="fas fa-search"></button>
      </form>
      <input type="button" value="">
      <a class="btn-profile" href="../../../externo.html" onclick="CerrarSesion()">Cerrar Sesion</a>
      <script src="./../js/navbar.js"></script>
    </nav>
  </header>
  <!--Administracion de Noticias-->
  <main onload="ObtenerNoticiasTabla()">
    <div class="main-div">
      <div class="box0">
        <p>Reportes Generados</p>
      </div>
      <div class="box1">
        <div class="graficaLin">
          <canvas id="graficaLineas"></canvas>
        </div>
      </div>
      <div class="box2">
        <div class="graficaBar">
          <canvas id="graficaBarra"></canvas>
        </div>
      </div>
      <div class="box0">
        <p>Administracion de Noticias (CRUD)</p>
      </div>
      <div class="box3">
        <section>
          <h2 class="titulo-repo">Administrar Noticias</h2>
          <table id ="crud">
          </table>
          <br>
        </section>
      </div>
    </div>
  </main>
  <!--Administracion de Deportes-->
  <main onload="ObtenerDeportesTabla()">
    <div class="main-div">
      <div class="box0">
        <p>Administracion de Deportes (CRUD)</p>
      </div>
      <div class="box3">
        <section>
          <h2 class="titulo-repo">Administrar Deportes</h2>
          <table id ="crud-deportes">
          </table>
          <br>
        </section>
      </div>
    </div>
  </main>

  <script src="../js/ControllersJS/ReporteControllers.js"></script>
  <script src="../js/ControllersJS/ControlSession.js"></script>
  <script src="../../../FrontendOlimpicos/view/js/bar.js"></script>
  <script src="../../../FrontendOlimpicos/view/js/wave.js"></script>
</body>
</html>