<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/standard.css" />
  <link rel="stylesheet" href="../css/reportes.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
  <script src="../../../FrontendOlimpicos/view/js/chart.js"></script>
  <title>Reportes</title>
</head>
<body>
<header class="Header-section">
  <nav class="navbar">
    <div class="menu-icon">
      <span><i class="fa-solid fa-bars"></i></span>
    </div>
    <div class="logo">
      <a href="../../../index.html"
      ><img src="../img/Olympics_logo.svg" alt="Olimpiadas_logo"
      /></a>
    </div>
    <div class="nav-items">
      <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="deportes.html">Deportes</a></li>
      <li><a href="noticias.html">Noticias</a></li>
      <li><a href="acerca.html">Acerca de</a></li>
      <li><a href="contact.html">Contacto</a></li>
      <li><a href="../html/reportes.html">Reportes</a></li>
      <li><a href="perfil.html">Perfil</a></li>
    </div>
    <div class="search-icon">
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <div class="cancel-icon">
      <span><i class="fa-solid fa-xmark"></i></span>
    </div>
    <form action="busqueda.html">
      <input
              type="search"
              class="search-data"
              placeholder="Buscar"
              required
      />
      <button type="submit" class="fas fa-search"></button>
    </form>
    <input type="button" value="">
    <a class="btn-profile" href="../../../externo.html">Cerrar Sesion</a>
    <script src="FrontendOlimpicos/view/js/navbar.js"></script>
  </nav>
</header>

<main onload="ObtenerNoticiasTabla()">
  <div class="main-div" onload="ObtenerNoticiasTabla()">
    <div class="box0">
      <p>Reportes Generados</p>
    </div>
    <div class="box1">
      <div class="graficaLin">
        <canvas id="graficaLineas"></canvas>
      </div>
    </div>
    <div class="box2">
      <div class="graficaBar">
        <canvas id="graficaBarra"></canvas>
      </div>
    </div>
    <div class="box0">
      <p>Administracion de Usuarios (CRUD)</p>
    </div>
    <div class="box3"> <!---->
      <section>
        <h2 class="titulo-repo">Registros de Usuarios</h2>
        <table id ="crud">
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Tipo</th>
            <th><center>Accion</center></th>
          </tr>
          <tr>
            <td>1</td>
            <td>Marcos</td>
            <td>Candanedo</td>
            <td>marcos.candanedo1@utp.ac.pa</td>
            <td>Administrador</td>
            <td>
              <div class="status">
                <a class="usuario mod" href="">Modificar</a>
                <a class="usuario del" href="">Eliminar</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Irving</td>
            <td>Arosemena</td>
            <td>irving.arosemena@utp.ac.pa</td>
            <td>Administrador</td>
            <td>
              <div class="status">
                <a class="usuario mod" href="">Modificar</a>
                <a class="usuario del" href="" onclick="EliminarNoticia">Eliminar</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Marcos</td>
            <td>Ñurinda</td>
            <td>marcos.ñurinda@utp.ac.pa</td>
            <td>Administrador</td>
            <td>
              <div class="status">
                <a class="usuario mod" href="">Modificar</a>
                <a class="usuario del" href="">Eliminar</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>John</td>
            <td>Doe</td>
            <td>john.doe@utp.ac.pa</td>
            <td>Usuario</td>
            <td>
              <div class="status">
                <a class="usuario mod" href="">Modificar</a>
                <a class="usuario del" href="">Eliminar</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td><input class="entrada" type="text" name="nombre" placeholder="Nombre.."></td>
            <td><input class="entrada" type="text" name="apellido" placeholder="Apellido.."></td>
            <td><input class="entrada" type="email" name="correo" placeholder="Email.."></td>
            <td><input class="entrada" type="text" name="tipo" placeholder="Tipo.."></td>
            <td>
              <div class="status">
                <a class="usuario add" href="">Añadir</a>
              </div>
            </td>
          </tr>
        </table>
        <br>
      </section>
    </div>
  </div>
</main>







</body>
<script src="../../../FrontendOlimpicos/view/js/bar.js"></script>
<script src="../../../FrontendOlimpicos/view/js/wave.js"></script>
</html>