@import url(standard.css);

body{
    background: var(--main-color);
}

/* Section - Contact */
.contact {
    background: var(--main-color);
    position: relative;
}
  
.contact-section {
    padding: 0 10vw;
    padding-top: 120px;
    display: flex;
    gap: 40px;

}
  
.contact-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
  
.contact-text h1 {
    font-size: var(--h1-font);
    margin-bottom: 10px;
}
  
.contact-text h2 {
    font-size: var(--h2-font);
}
  
.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 48px;
}
  
.contact-list {
    margin-bottom: 48px;
}
  
.contact-list li {
    margin-bottom: 10px;
}
  
.contact-list li a {
    color: var(--grey400);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all 0.4s ease;
}
  
.contact-list li a:hover {
    color: var(--text-dark);
}
  
.contact-icons i {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    color: var(--grey500);
    background: var(--main-color-d);
    padding-left: 12px;
    padding-top: 12px;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.4s ease;
}
  
.contact-icons i:hover {
    color: var(--main-color);
    background: var(--grey500);
    transform: scale(1.01) translateY(-5px);
}
  
.contact-form form {
    display: flex;
    flex-direction: column;
}
  
.contact-form form input,
.contact-form form textarea {
    border: none;
    outline: none;
    padding: var(--h2-font);
    color: var(--text-color-w);
    background: var(--bg-light);
    font-size: var(--p-font);
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 8px;
}
  
.contact-form textarea {
    resize: none;
    height: 200px;
}
  
.contact-form form .send {
    width: 180px;
    font-weight: 500;
    font-size: var(--h2-font);
    color: var(--text-light);
    background: var(--blue100);
    transition: all 0.4s ease;
    cursor: pointer;
}
  
.contact-form form .send:hover {
    width: 180px;
    font-weight: 500;
    font-size: var(--h2-font);
    transform: scale(1.02);
    transition: all 0.4s ease;
    cursor: pointer;
}
  
@media only screen and (max-width: 800px) {
    .contact-section {
      flex-direction: column;
    }
}
  